.github\workflows\ci-cd.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3

# Docker
*.pid
*.seed
/postgres_data/

# Environment
C:\Users\ssabs\notes_project\env

# VSCode / IDE
.vscode/
.idea/
